.small-input{
    width: 80px;
    font-weight: bold;
    text-align-last:center;
}
.small-input2{
    width: 10px;
font-weight: bold;
text-align-last:center;
}

.horasYDias{
display: flex;
flex-direction: column;

}

#form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   gap: 100px;
   
}

#h3{
      text-align: center;
      margin-bottom: 0;
}

.small-input2{
    width: 30px;

}